.formWrapper {
    display: grid;
	place-items: center;
}

.lineWrapper {
	display: flex;
}

.switchButtonWrapper {
	margin-top: 10vh;
	border-radius: 2px;
}

.mainWrapper {
	display: grid;
	justify-content: center;
	height: 100vh;
}

