.submissionPhoto {
    object-fit: cover;
    width: 350px;
    height: 350px;
    margin: 10px;
}

.submissions {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
}

.submissionPhoto:hover {
	border: 5px solid #9A94DC;
    margin: 5px;
}

.submissionModalButton {
    background-color: transparent;
    border: none;
}
