.navWrapper {
    display: flex;
	justify-content: space-between;
	align-items: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	z-index: 2;
	height: 70px;
	min-height: 70px;
	width: calc(100% - 1.5rem);
	/*background-color: #fff;*/
	padding: 0 1rem;
    backdrop-filter: blur(10px);
}

.linkWrapper {
    justify-content: right;
    display: flex;
    width: 500px;
}

@media screen and (max-width: 700px) {
    .navWrapper {display: none;}
}