section {
    display: grid;
	place-items: center;
	font-size: 32px;
	font-weight: bold;
	height: fit-content;
	min-height: 100vh;
}

.showcaseDetailsWrapper {
	display: flex;
	flex-direction: column;
	width: 95%;
	min-height: fit-content;
}

.showcaseInfo {
	display: flex;
	flex-direction: row;
	margin: 5%;
	align-items: center;
	justify-content: space-evenly;
}

.submissionsView {
	width: 50%;
	height: 100%;
	margin: 5%;
}

.profilePhoto {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px #9A94DC;
}

.artistName {
    color: #9A94DC;
    font-weight: 600;
}

.showcaseTitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 14px;
}

#tabButtons {
	display: flex;
	justify-content: center;

}

.horizontalSeperator {
	background-color: #9A94DC;
	width: 95vw;
	height: 5px;
	border-radius: 50px;
	margin-bottom: 10px;
}

.selectedTab {
	border: none;
	width: 45vw;
	background-color: #9A94DC;
	color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 25px;
}

.unselectedTab {
	border: none;
	width: 45vw;
	border: 2px solid #9A94DC;
	background-color: white;
	color: #9A94DC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-style: solid solid none solid; 
	font-size: 25px;
}

.unselectedTab:hover {
	color: white;
	background-color: #9A94DC;
}

