section {
    display: grid;
	place-items: center;
	height: 100vh;
	font-size: 32px;
	font-weight: bold;
}

.showcaseDetailsWrapper {
	display: flex;
	flex-direction: column;
	width: 95%;
}

.showcaseInfo {
	display: flex;
	flex-direction: row;
	margin: 5%;
	align-items: center;
	justify-content: space-evenly;
}

.submissionsView {
	width: 50%;
	height: 100%;
	margin: 5%;
}

.profilePhoto {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px #9A94DC;
}

.artistName {
    color: #9A94DC;
    font-weight: 600;
}

.showcaseTitle {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 14px;
}



