body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(#FFFFFF, #9a94dcc0 99%);*/
  width: 100%;
  height: 24in;
}

:root {
  --amplify-primary-color: white;
  --amplify-primary-tint: white;
  --amplify-primary-shade: white;
}